* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #edeef0;
  color: #0C356A;
  font-family: Verdana, sans-serif; 
  /* font-family: Arial, Helvetica, sans-serif; */
  font-size: 11px;
  /* color: 213363; */
  margin: 0;
  padding: 0;
}

img {
  vertical-align: middle;
  pointer-events: none;
}



.container{
    /* border: 1px solid rgba(131, 130, 130, 0.292); */
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgb(25, 25, 26);
    max-width: 960px;
    margin: 0 auto;
}


.section-header-description{
  /* border: 1px solid red; */
  /* background-color: #717171; */
  background-color: #7171712e;
  /* color: rgb(255, 255, 255); */
  color: rgb(23 31 69);
  margin: 3% 0 0 0;
  padding: 9px 12px;
}

.header{
  /* border: 1px solid red; */
  position: relative;
}

.logo{
  /* border: 1px solid red; */
  pointer-events: auto;
  width: 40%;
  margin: 1% auto 0;
  padding: 7px 0;
  display: block;
  transition: transform .2s;
}

.logo:hover {
  transform: scale(1.1);
  cursor: none; 
  cursor: none;
}

.line{
  width: 400px;
  height: 1.5px;
  margin: 5px auto;
  background-color: rgba(97, 96, 96, 0.09);
  border: none;
}



/* --------------------------- VIDEO START ---------------------------*/
.wrap-video{
  /* border: 2px solid rgb(44, 28, 144); */
  margin: 0 auto;
  padding: 0 0 3% 0;
}

.videos{
    border: 1px solid rgba(123, 123, 123, 0.178);
    margin: 3% auto;
    width: 565px;
}

.video-description{
    margin: 0;
}

.video-description h5, p{
    /* border: 1px solid red; */
    margin: 0;
    padding: 13px 17px;
    /* padding: 5px 7px; */
    text-align: justify;
    position: relative;
}

.video-description h5{
    background-color: rgba(186, 182, 182, 0.251);
}

.video-description .date{
    /* border: 1px solid red; */
    color: rgba(65, 63, 63, 0.623);
}

.video-description .status-span{
    position: absolute;
    right: 21%;
}

.video-description .status{
    /* border: 1px solid red; */
    color: red;
    margin: 0 12px;
    padding: 0 5px;
    position: absolute;
    right: 0;
}
.video-description .status:hover{
    /* color: rgb(114, 3, 3); */
    text-decoration: line-through;
    cursor: wait;

}
.blink_me {
    animation: blinker 1.3s linear infinite;
}
  
@keyframes blinker {
    70% {
        opacity: 0.3;
    }
}

.report-description{
  /* border: 1px solid red; */
  margin: 1% 0;

}

/* --------------------------- VIDEO END ---------------------------*/






/* --------------------------- Slideshow START ---------------------------*/

.mySlides {
  display: none
}

/* Slideshow container */
.slideshow-container {
  /* border: 3px dotted red; */
  max-width: 1000px;
  position: relative;
  margin: 0 auto 15px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  background-color: #000000;
  font-weight: bold;
  /* font-size: 18px; */
  font-size: 25px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #000000;
  background-color: #0000000a;
  font-size: 22px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  background-color: #0000004a;
  font-size: 18px;
  font-weight: 900;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
/* --------------------------- Slideshow END ---------------------------*/



/* --------------------------- Socal Media START ---------------------------*/
.social-media{
  /* border: 1px solid red; */
  position: absolute;
  top: 0;
  right: 0;
}

.social-media img{
  width: 100%;
}

ul {
  /* border: 10 solid blue; */
  width: 50%;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  /* display: flex; */
}

li {
  /* border: 1px solid red; */
  /* justify-content: center; */
  /* max-width: 15%; */
  margin: 35% auto;
  /* padding: 0 2px; */
  border-radius: 5px;
}

li a {
  /* display: block; */
  /* padding: 8px; */
  text-align: center;
}

li img{
  pointer-events: auto;
}

li img:hover{
  -webkit-transform: rotateZ(-360deg);
  -ms-transform: rotateZ(-360deg);
  transform: rotateZ(-360deg);
  transition: 1s ease;
}

/* --------------------------- Socal Media END ---------------------------*/



/* --------------------------- Footer START ---------------------------*/
.footer{
    margin: 50px 0 0 0;
}

/* OLD CODE Socal Media
ul {
  border: 1px solid red;
  max-width: 650px;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  display: flex;
}

li {
  justify-content: center;
  max-width: 15%;
  margin: 0 auto;
}

li a {
  display: block;
  padding: 8px;
  text-align: center;
}

.footer h5{
  margin: 0 auto;
  padding: 10px 0;
  text-align: center;
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
*/

.footer p{
    max-width: 350px;
    margin: 3% auto 0;
    text-align: center;
}

@keyframes example {
  0%   {color: rgb(98, 42, 175);}
  25%  {color: rgb(29, 4, 53);}
  50%  {color: rgba(23, 23, 62, 0.404);}
  100% {color: rgb(95, 75, 153);}
}
/* --------------------------- Footer END ---------------------------*/


/* --------------------------- Back to Top Button START ---------------------------*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

#myBtn img{
  opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

#myBtn:hover {
  opacity: .5;
}
/* --------------------------- Back to Top Button END ---------------------------*/



/* --------------------------- Media START ---------------------------*/
@media (min-width: 320px) and (max-width: 500px) {
  .logo{
    /* border: 2px solid red; */
    width: 50%;
  }

  .videos{
      /* border: 2px solid red; */
      width: 100%;
  }
  .videos iframe{
    width: 100%;
  }
  .video-description .status-span{
    right: 25%;
  }

  .footer h5{
    font-size: 15px;
  }

  li {
    margin: 50% auto;
    border-radius: 5px;
  }

  li a {
    font-size: 15px;
  }
}


/* --------------------------- Media END ---------------------------*/